@model WebApplication4.Models.Dinner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Dinner</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.userID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dinnerMonth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dinnerMonth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dinnerDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dinnerDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dinnerYear)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dinnerYear)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfCourses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfCourses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberAttending)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberAttending)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.dinnerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
